.ProfileCardStats .ProfileCardStats-stat:nth-child(2),
.ProfileCardStats .ProfileCardStats-stat:nth-child(3) {
  display: none !important;
}

.ProfileNav-item.ProfileNav-item--followers {
  display: none !important;
}

body
{
    background: #16161E !important; 
}

.sfbg
{
    background: #16161E !important;
}

.yg51vc 
{
    background: #16161E !important; 
}

.RNNXgb 
{
    background: #24283A !important 
}

.appbar
{
    background: #16161E !important;  
}

.dG2XIf
{
    background: #16161E !important; 
}

.rsGxI.Ww4FFb, .Ww4FFb
{
    background: #16161E !important; 
}

.I6TXqe
{
    background: #16161E !important; 
}

.S8ee5
{
    background: #24283A !important  
}

.k8XOCe
{
    background: #24283A !important
}

.f6F9Be
{
    background: #16161E !important;  
}

.aajZCb
{
    background: #1A1B26 !important;
}